body {
  margin: 0;
  font-family: 'Georgia', serif;
  background: linear-gradient(135deg, #6a4c93, #b185db);
  color: white;
}

#lockScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, button {
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #f3c4fb;
  cursor: pointer;
}

.hidden {
  display: none;
}

.book {
  max-width: 700px;
  margin: auto;
  padding: 40px;
  line-height: 1.8;
  font-style: italic;
}

.destiny {
  margin-top: 30px;
  font-size: 18px;
  color: #ffd6ff;
  text-align: center;
}

.shayari {
  margin-top: 25px;
  text-align: center;
  font-size: 17px;
}
